
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/Content/search/Search.css" />
    <title>SearchPage</title>
    <meta charset="utf-8">
    <title>jQuery UI Slider - Range slider</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    @*jquery*@








</head>


<body>

    <div class="navbar navbar-default navbar-fixed-top" style="height:100px; background-image:url('../../Content/images/background.jpg'); background-size: contain;">
        <div class="container">

            <img src="https://i.imgur.com/9zX8Fuz.png[/img]" width="150" height="70" style="margin-top:10px">

            
            <div style="text-align:center; margin-top:-50px ">

                    @{Html.RenderAction("GetCategoryListPartial", "Search");}

                
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top:50px; width:100vw;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Joole</p>
        </footer>
    </div>










</body>
</html>
